body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.game{
  color: white;
  
}

.hand1{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: auto;
  left: 30%;
  top: 80%;
}

.hand2{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  left: 0%;
  top: 45%;
}

.hand3{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transform: rotate(180deg);
  position: absolute;
  left: 30%;
  top: 12.5%;
}

.hand4{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transform: rotate(270deg);
  position: absolute;
  left: 60%;
  top: 46%;
}

.handCards{
  display: flex;
  background-color: cadetblue;
  width: 500px;
  height: 120px ;
  align-items: center;
  padding-top: 10px; 
  padding-left: 5px; 

}


.cardImg{
  height: 100px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.deck{
  color: white;
  /* background-color: white; */
  width: 120px;
  height: 160px;

  font-size: 40px;
  font-weight: bold;
  text-align: center;

  position: absolute;
  left: 30%;
  top: 35%;

}  

.pile{
  color: white;
  /* background-color: white; */
  width: 120px;
  height: 160px;
 
  font-size: 40px;
  font-weight: bold;
  text-align: center;

  position: absolute;
  left: 60%;
  top: 35%;
}


.turnIndicator {
  color: white;
  /* background-color: white; */
  width: 250px;
  height: 150px;

  font-size: 35px;
  font-weight: bold;
  text-align: center;


  position: absolute;
  left: 40%;
  top: 38%;

}

.directionIndicator {
  color: white;
  /* background-color: white; */
  width: 250px;
  height: 50px;

  font-size: 30px;
  font-weight: bold;
  text-align: center;


  position: absolute;
  left: 40%;
  top: 65%;

}

.colorIndicator{
  color: white;
  /* background-color: white; */
  width: 120px;
  height: 150px;
  /* align-items: center; */
 
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  position: absolute;
  left: 60%;
  top: 60%;

}

.red{
  background-image: url(./images/_indicator_red.png);
  background-size: cover;
  width: 70px;
  height: 100px;

  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.green{
  background-image: url(./images/_indicator_green.png);
  background-size: cover;
  width: 70px;
  height: 100px;

  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.blue{
  background-image: url(./images/_indicator_blue.png);
  background-size: cover;
  width: 70px;
  height: 100px;

  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.yellow{
  background-image: url(./images/_indicator_yellow.png);
  background-size: cover;
  width: 70px;
  height: 100px;

  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.navbar{
  display: flex;
}

.miniLogo{
  height: 50px;
}

.table{
  background-image: url(./images/_table0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;

}

.leaderboard{
  /* background-image: url(./images/_background.jpg); */
  background-image: url(./images/_background2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  
}

.auth{
  background-image: url(./images/_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  
  
}

.authLogoImg{
  height: 250px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.authItemBlock{
  padding-top: 30px;
  
  background-image: url(./images/_authItems_background.png);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 175px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  
  align-items: center;
}

.authItems{
  margin: auto;
  width: auto;
  height: 50%;
  /* display: block; */
  /* margin-top: 20%; */

  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.loginandCow {
  margin-left: 25%;
  display:flex;
  width: 50%;
}

.cowImg{
  height: 150px;
  
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
}

.deckHand1-enter-active {
  opacity: 1; 
  transform: translate(200px,300px); 
  transition: transform 100ms;
  transition-timing-function: linear;
  
}

.deckHand1-enter {
  opacity: 1;
}

.deckHand2-enter-active {
  /* opacity: 1;  */

}
.deckHand2-enter {
  z-index: 10;
  /* opacity: 0; */

  transform: translate(-150px,50px) rotate(90deg); 

  transition: transform 2000ms;
  transition-timing-function: linear;
}

.deckHand2-exit-active {
  /* opacity: 0; */
  transform: translate(curr location) rotate(90deg); 
  
  transition: transform 2000ms;
  transition-timing-function: linear;
}

.deckHand2-exit {
  position: absolute;
  left: 700;
  top: 136;
  /* opacity: 1; */
}
