body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardImg{
  height: 100px;
}

.hand{
  display: flex;
}

.deck{
  display: flex;
}

.pile{
  display: flex;
}

.table{
  display: flex;
}

.navbar{
  display: flex;
}

.logoImg{
  height: 250px;
}

.cowImg{
  height: 150px;
}

.miniLogo{
  height: 50px;
}
